@page  "{handler?}"
@model Company.WebApplication.Pages.DirectEventsModel
@using Company.WebApplication.Data
@{
    ViewData["Title"] = "DirectEvent";
}
<ext-viewport layout="Border">
    <items>
        <ext-container
            region="North"
            cls="navbar"
            paddingAsString="0 20"
            height="64">
            <layout>
                <ext-hBoxLayout align="Middle" pack="Start" />
            </layout>
            <items>
                <ext-component
                    flex="1"
                    html=@("<a class=\"app-logo\" href=\"/\">Ext.NET App</a>")
                    />
                <ext-component flex="1" />
                <ext-component
                    html=@("<a class=\"link\" href=\"https://ext.net\" target=\"_blank\" rel=\"noopener\">Ext.NET Home</a>")
                    />
            </items>
        </ext-container>

        <ext-container
            region="West"
            cls="sidebar"
            width="240"
            scrollable="true"
            paddingAsString="20">
            <content>
                <nav class="sidebar-nav">
                    <ul>
                    @{
                        foreach(var item in NavData.Items)
                        {
                            var active = HttpContext.Request.Path == @item.Path ? " active" : "";
                            var cls = $"sidebar-nav-link{active}";

                            <li><a href="@item.Path" class="@(cls)"><i class="x-md">@item.IconCls</i><span>@item.Name</span></a></li>
                        }
                    }
                    </ul>
                </nav>
            </content>
        </ext-container>
        <ext-container
            region="Center"
            scrollable="true"
            paddingAsString="30 20 30 50">
            <items>
                <ext-button 
                    text="Click Me!" 
                    iconCls="x-md md-icon-check-circle-outline"
                    onDirectClick="ButtonClick" 
                    scale="Medium" 
                    />
            </items>
        </ext-container>
    </items>
</ext-viewport>